<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>WOD Diggity</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/vendors/angularjs/angular.min.js"></script>
    <script src="~/Scripts/vendors/angularjs/angular-route.min.js"></script>
    <script src="~/Scripts/vendors/angularjs/angular-resource.min.js"></script>
    <script src="~/Scripts/vendors/bootstrap/ui-bootstrap-0.11.0.min.js"></script>
    <script src="~/Scripts/vendors/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>



    @* Angular JS Scripts *@
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="~/Scripts/hitt_timer.js"></script>
        <script src="~/Scripts/app.js"></script>
        <script src="~/Scripts/config.js"></script>
        <script src="~/Scripts/directives.js"></script>
        <script src="~/Scripts/routes.js"></script>
        <script src="~/Scripts/filters.js"></script>
        <script src="~/Scripts/controllers/exerciseTypeController.js"></script>
        <script src="~/Scripts/controllers/unitOfMeasureController.js"></script>
        <script src="~/Scripts/controllers/exerciseController.js"></script>
        <script src="~/Scripts/controllers/homeController.js"></script>
        <script src="~/Scripts/services/exerciseTypeService.js"></script>
        <script src="~/Scripts/services/unitOfMeasureService.js"></script>
        <script src="~/Scripts/services/exerciseService.js"></script>
    }
    else
    {
        @Scripts.Render("~/bundles/myApp")
        @Scripts.Render("~/bundles/myControllers")
        @Scripts.Render("~/bundles/myServices")
    }

    <meta name="description" content="The description of my page" />
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", false)

    <script type="text/javascript">
        function alertShow(notificationType, data, callback) {
            $("#alertPopup h4").html('');
            $("#alertPopup .alert").removeClass("alert-success");
            $("#alertPopup .alert").removeClass("alert-danger");
            $("#alertPopup .alert").removeClass("alert-warning");

            var delay = 5000;

            if (notificationType === "error") {
                $("#alertPopup .alert").addClass("alert-danger");
                $("#alertPopup h4").html("Error!");
                $("#alertMessage").text(data);
            } else if (notificationType === 'warning') {
                $("#alertPopup .alert").addClass("alert-warning");
                $("#alertPopup h4").html("Warning");
                $("#alertMessage").text(data);
            } else if (notificationType === 'success') {
                $("#alertPopup .alert").addClass("alert-success");
                $("#alertPopup h4").html("Success!");
                $("#alertMessage").text(data || "Record Saved Successfully!");
                delay = 2500;
            }

            $("#alertPopup").modal({ backdrop: false }).modal('show');

            if (notificationType !== "error") {
                window.setTimeout(function () {
                    $("#alertPopup").modal('hide');
                    if (callback) callback();
                }, delay);
            }
        }
    </script>

</body>
</html>
