<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="google-site-verification" content="tovnfjaxau39BGXEqsrFM1ZRhO4A8Ma6PvfJ76V1Nr0" />
    <title>Woddiggity</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/highcharts")

    <script src="~/Scripts/vendors/angularjs/angular.min.js"></script>
    <script src="~/Scripts/vendors/angularjs/angular-animate.min.js"></script>
    <script src="~/Scripts/vendors/angularjs/angular-route.min.js"></script>
    <script src="~/Scripts/vendors/angularjs/angular-resource.min.js"></script>
    <script src="~/Scripts/vendors/bootstrap/ui-bootstrap-0.11.0.min.js"></script>
    <script src="~/Scripts/vendors/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="~/Scripts/hitt_timer.js"></script>

    @* Angular JS Scripts *@
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="~/Scripts/app.js"></script>
        <script src="~/Scripts/config.js"></script>
        <script src="~/Scripts/directives.js"></script>
        <script src="~/Scripts/routes.js"></script>
        <script src="~/Scripts/filters.js"></script>
        <script src="~/Scripts/controllers/exerciseTypeController.js"></script>
        <script src="~/Scripts/controllers/unitOfMeasureController.js"></script>
        <script src="~/Scripts/controllers/exerciseController.js"></script>
        <script src="~/Scripts/controllers/homeController.js"></script>
        <script src="~/Scripts/controllers/accountCtrl.js"></script>
        <script src="~/Scripts/controllers/wendlerCtrl.js"></script>
        <script src="~/Scripts/services/exerciseTypeService.js"></script>
        <script src="~/Scripts/services/unitOfMeasureService.js"></script>
        <script src="~/Scripts/services/exerciseService.js"></script>
        <script src="~/Scripts/services/accountServices.js"></script>
        <script src="~/Scripts/services/wendlerService.js"></script>
        <script src="~/Scripts/services/recordLiftsService.js"></script>
        <script src="~/Scripts/services/wendlerTemplateService.js"></script>
        <script src="~/Scripts/controllers/settingsCtrl.js"></script>
        <script src="~/Scripts/controllers/wodCtrl.js"></script>
        <script src="~/Scripts/controllers/personalBestCtrl.js"></script>
        <script src="~/Scripts/controllers/myLiftsCtrl.js"></script>
        <script src="~/Scripts/services/wendlerExerciseService.js"></script>
        
    }
    else
    {
        @Scripts.Render("~/bundles/myApp")
        @Scripts.Render("~/bundles/myControllers")
        @Scripts.Render("~/bundles/myServices")
    }

    <meta name="description" content="The description of my page" />
</head>
<body>

    @Html.Partial("_MainMenuPartial")

<div class="diggity-page-bar">
    <button id="menu_button" type="button" onclick=" displayMenu() "
            class="diggity-page-header btn btn-material-blue-grey-800" style="padding: 0; margin-left: 20px;">
        <i class="fa fa-navicon"></i>
    </button>
    <a href="~/#user" class="diggity-page-header btn btn-material-blue-grey-800">Woddiggity</a>
</div>

<div id="alertPopup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="alert" style="margin-bottom: 0">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
                <p id="alertMessage" style="font-size: 1.3em;"></p>
            </div>
        </div>
    </div>
</div>


@RenderBody()
@RenderSection("scripts", false)

<script type="text/javascript">
    var currentUser = '@User.Identity.Name';

    $(document).ready(function() {
        $.material.init();

        $("#main_menu").on("click", "a", function() {
            $("#main_menu").removeClass("in");

            var opt = $("#selected_menu_opt");
            var classList = $(this).find("i").first().attr("class");
            var text = $(this).find("h4").first().text();
            $("#main_menu a").removeClass("selected");
            $(this).addClass("selected");
            opt.removeClass();
            opt.addClass(classList);

            $("#current_page_link").text(text);
        });

        $("body").click(function(evt) {
            if ($(evt.target).parents("#menu_button").length == 0) {
                $("#main_menu").removeClass("in");
            }
        });
    });

    function displayMenu() {
        var menu = $("#main_menu");
        if (menu.hasClass("in")) menu.removeClass("in");
        else menu.addClass("in");
    }

    function toggleNav() {
        var menu = $("#main-menu");
        if (menu.hasClass("in")) {
            menu.removeClass("in");
            $("#settings-menu").removeClass("in");
        } else {
            menu.addClass("in");
            $("#settings-menu").addClass("in");
        }
    }

    function alertShow(notificationType, data, callback) {
        $("#alertPopup h4").html('');
        $("#alertPopup .alert").removeClass("alert-success");
        $("#alertPopup .alert").removeClass("alert-danger");
        $("#alertPopup .alert").removeClass("alert-warning");

        var delay = 5000;

        if (notificationType === "error") {
            $("#alertPopup .alert").addClass("alert-danger");
            $("#alertPopup h4").html("Error!");
            $("#alertMessage").text(data);
        } else if (notificationType === 'warning') {
            $("#alertPopup .alert").addClass("alert-warning");
            $("#alertPopup h4").html("Warning");
            $("#alertMessage").text(data);
        } else if (notificationType === 'success') {
            $("#alertPopup .alert").addClass("alert-success");
            $("#alertPopup h4").html("Success!");
            $("#alertMessage").text(data || "Record Saved Successfully!");
            delay = 2500;
        }

        $("#alertPopup").modal({ backdrop: false }).modal('show');

        if (notificationType !== "error") {
            window.setTimeout(function() {
                $("#alertPopup").modal('hide');
                if (callback) callback();
            }, delay);
        }
    }
</script>

</body>
</html>
